{% extends 'base.html' %}
{% load static %}

{% block title %}
{{blog_obj.blog_title}}
{% endblock  %}



{% block body %}
<h1>
{{blog_obj.blog_title}}
</h1>

<div class="container">
  <!--  Image start  -->
  <div class="image-wrapper">
        <img class = "img-fluid" src="{{blog_obj.blog_image.url}}"  >
  </div>
  <!--  Image end  -->
</div>

<p>{{blog_obj.blog_body|linebreaks}}</p>


<a href = "{% url 'blog:editPost' blog_obj.id %}">
    <button type="button">Edit Blog</button>
</a>


<a href="{% url 'blog:deletePost' blog_obj.id %}">Delete Blog</a>




{% endblock  %}

